﻿@using CostEffectiveCode.Extensions
@using VkService.Controllers

﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @{
                    ViewBag.flag = ((VkController) this.ViewContext.Controller).IsRun();
                }
                @Html.ActionLink("VkService", "Index", "Vk", null, new {@class = "navbar-brand"})
                 @Html.ActionLink("Start", null, null, null, (@ViewBag.flag == false) ? (object)
                        new {@id = "vkStart", onclick="startVkService()",@class="btn btn-lg btn-primary", style="margin-top: 2px;"} :
                        new{disabled="disabled", @id = "vkStart", onclick="startVkService()",@class="btn btn-lg btn-primary", style="margin-top: 2px;" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<script>
    function startVkService() {
                $('#vkStart').attr('disabled', 'disabled');
                window.alert('Cервис запущен');
        $.ajax({
            type: "POST",
            url: "@Url.Action("StartService", "Vk")"
        });
    }

</script>
</body>
</html>
