﻿@model IEnumerable<VkService.Controllers.UserDto>

@{
    ViewBag.Title = "Главная страница";
}

    <h2>Таблица логинов:</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.ActionLink(item.Login, "Users", new { id=item.Id })
                    <div class="row">
                    </div>
                </td>
            </tr>
        }
    </table>
<div class="row">
</div>